numpy>=1.21.6
scikit-learn>=0.24.2
pandas>=1.3.5
scipy>=1.5.4
--extra-index-url https://download.pytorch.org/whl/cu113
torch~=1.12.0
functorch~=0.2.0
geomloss @ git+https://github.com/josephenguehard/geomloss.git@b8d918bfc54b7b061cc33f9ecc08a4065c07ce8a
